@using Legal.Ner.Domain;
@model SemanticSearch

@{
    ViewBag.Title = "Búsqueda Semántica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm("Index", "Semantic", FormMethod.Post, new {style="width: 1140px;"}))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal form-with">
            <br />
            <h4>Realizar búsqueda semántica</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.ActionLink("Guía de prefijos", "Index", "SparqlPredefinedNamespacePrefix")
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Query)
                <div class="col-lg-10">
                    @Html.TextAreaFor(model => model.Query, 15, 150, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Query, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span>@ViewBag.ErrorMessage</span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Consultar" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }
    </div>
</div>
