@model Legal.Ner.Domain.FileKey

@{
    ViewBag.Title = "Eliminar Documento";
}

<div class="container">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-body">
                <div>
                    <h4>Eliminar Documento</h4>
                    <hr />
                    <h3>¿Está seguro de eliminar el documento:</h3>
                    <hr />
                    <h4>@Model.FileName</h4>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.Description)
                        @Html.HiddenFor(x => x.DocumentTitle)
                        @Html.HiddenFor(x => x.FileName)
                        @Html.HiddenFor(x => x.Number)
                        @Html.HiddenFor(x => x.ReleaseDate)
                        @Html.HiddenFor(x => x.UploadDate)

                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-default" />
                            |
                            @Html.ActionLink("Retornar al listado", "Index")
                        </div>
                    }
                </div>
                <hr />
                <div class="form-group">
                    <span>@ViewBag.ErrorMessage</span>
                </div>
            </div>
        </div>
    </div>
</div>
